.back-ground-color {
    background: rgb(0, 255, 213);
}
img{
    widows: 400px;
    height: 400px;
}
h2{
    list-style: none;
    float:left;
}
.logo1{
   color:purple;
   font-size: 50px;
}
li{
    list-style:none;
}
h3{
    font-size: 20px;
}
.logo2{
    color:green;
    font-size: 50px;
}
h4{
    color:palevioletred;
    font-size: 18px;    
}
