.back-ground-color {
    background: rgb(0, 255, 213);
}
img{
    widows: 400px;
    height: 400px;
}

.logo1{
   color:rgb(4, 128, 0);
   font-size: 50px;
}
li{
    list-style:none;
}
h3{
    font-size: 18px;
}
.logo2{
    color:greenyellow;
    font-size:49px;
    border-bottom : solid 2px black;
    margin-top: 40px;
    margin-bottom: 20px;
   width: 350px;
}
.logo3{
    font-size:70px;
}